<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MyDistributedNop;Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=15;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <add key="ServiceName" value="MyDistributedNop.WebService" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="customServiceBehavior">
                    <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <dataContractSerializer maxItemsInObjectGraph="65536000"/>
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="customServiceEpBehavior">
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="customServiceTcpBinding" maxConnections="5000" receiveTimeout="10.00:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession inactivityTimeout="10.00:00:00" ordered="true"/>
                    <security mode="None">
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Hq.Mutone.DS.Mutone.Service.AppPhonebindInfoService" behaviorConfiguration="customServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:28819/Hq.Mutone.DS.Mutone.Service/" />
                    </baseAddresses>
                </host>
                <endpoint address="AppPhonebindInfoService" binding="netTcpBinding" behaviorConfiguration="customServiceEpBehavior" bindingConfiguration="customServiceTcpBinding" contract="Hq.Mutone.DS.Mutone.Service.Interface.IAppPhonebindInfoService"></endpoint>
            </service>

            <service name="WebServices.Implementation.IAddressService" behaviorConfiguration="customServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:28819/Hq.Mutone.DS.Mutone.Service/" />
                    </baseAddresses>
                </host>
                <endpoint address="IAddressService" binding="netTcpBinding" behaviorConfiguration="customServiceEpBehavior" bindingConfiguration="customServiceTcpBinding" contract="WebServices.Interface.IAddressService"></endpoint>
            </service>

            <service name="WebServices.Host.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="WebServices.Host.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServices.Host/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>